.barra__consulta-dia {
    padding: 2em 2em 0 1em;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    color: var(--preto);
    
}
/* 
.barra__consulta {
    padding-left: 5em;
} */